.navbar{
    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    width:92%;
    max-width:1300px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 35px;

    border-radius:60px;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(18px);

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    z-index:999;
}

.logo{
    font-size:30px;
    font-family:'Cormorant Garamond',serif;
    font-weight:700;
    cursor:pointer;
}

.logo span{
    color:#8B5E3C;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:35px;
}

.nav-links a{
    cursor:pointer;
    transition:.3s;
    font-weight:500;
}

.nav-links a:hover{
    color:#8B5E3C;
}

.nav-btn{
    padding:13px 28px;
    border:none;
    border-radius:40px;
    background:#8B5E3C;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.nav-btn:hover{
    transform:translateY(-3px);
}

.menu-icon{
    display:none;
    font-size:34px;
    cursor:pointer;
}

@media(max-width:900px){

.menu-icon{
    display:block;
}

.nav-links{
    position:absolute;
    top:90px;
    left:0;
    width:100%;
    background:white;
    border-radius:20px;

    flex-direction:column;

    padding:30px;

    display:none;
}

.nav-links.active{
    display:flex;
}

}